@{
  Layout = "_Layout";
}

@model LibraryCatalog.Models.Title

<h4>Add a new Title to inventory</h4>
<hr />

<div class ="col-md-8 offset-md-2">
  @using (Html.BeginForm())
  {
      @Html.Label("Book Title:")
      @Html.TextBoxFor(model => model.BookName, new { @class = "form-control", required="required"})
  <br>
      @Html.Label("Number of Copies:")
      @Html.TextBoxFor(model => model.Quantity, new { @class = "form-control"})
  <br>
      @Html.Label("Select author:")
      <br>
      @Html.DropDownList("AuthorId")
  <br>
  <br>
      <input type="submit" value="Add new title" class="btn btn-dark" />
  }
</div>