@{
  Layout = "_Layout";
}

@model LibraryCatalog.Models.Title

<h2>Title Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.BookName): @Html.DisplayFor(model => model.BookName)</h3>

@if(@Model.Authors.Count == 0)
{
  <p>This title does not belong to any author</p>
}
else
{
  <ul>
  @foreach(var join in Model.Authors)
  {
    <li>Author name: @join.Author.AuthorName</li>
  }
  </ul>
}

<p class="btn btn-dark">@Html.ActionLink("Back to list", "Index")</p>
<p class="btn btn-dark">@Html.ActionLink("Edit Title", "Edit", new { id = Model.TitleId })</p>
<p class="btn btn-dark">@Html.ActionLink("Delete Title", "Delete", new { id = Model.TitleId })</p>