
@{
  Layout = "_Layout";
}

@model LibraryCatalog.Models.Author

<h2>Edit</h2>
<hr />

<h4>Edit this author: @Html.DisplayFor(model => model.AuthorName)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.AuthorId)

    @Html.LabelFor(model => model.AuthorName)
    @Html.EditorFor(model => model.AuthorName)

    <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to authors", "Index")</p>